{% extends 'base.html.twig' %}

{% block title %}ReMindMe{% endblock %}

{% block body %}
    <div class="container-custom">
        <div class="slogan">
            <div class="logo">
                <a class="navbar-logo" href="#">Re<span class="mind">Med</span>Me</a>
            </div>
            <h1>Your personnal medicine reminder</h1>
        </div>
        <img src="/img/plan.png" alt="" class="plan-home">
        <img src="/img/medoc.png" alt="" class="medoc-home">
        <div class="wave"></div>
        <div class="wave2"></div>


    </div>
    <a href="{% if app.user %} /my-profile {% else %} {{ path('app_login')}} {% endif %}"><div class="button">Access my prescriptions</div></a>
{% endblock %}
