{% extends 'base.html.twig' %}

{% block title %}ReMindMe{% endblock %}

{% block body %}
    <h1>Page Accueil ReMindMe !!!!</h1>
    <h1>Goooooooooooooooooooooooooooooo CODE CODE CODE</h1>
{% endblock %}
